<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="Hayes Crowley - Full Stack Web Developer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{#each styles}}
    <link rel="stylesheet" href="styles/{{this}}" type="text/css" charset="utf-8">
    {{/each}}
    {{#each headScripts}}
    <script src="scripts/{{this}}" async defer></script>
    {{/each}}
    <link href="https://fonts.googleapis.com/css?family=Karla|Montserrat|Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7b1798d8eb.js" async defer></script>
</head>
<body>
    <div id="wrapper">
        <nav>
        <div class="logo">
            <h4><a href="/">Hayes Crowley</a></h4>
        </div>
        <ul class="nav-links">
            <li><a href="/cv">Resumé</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <div class="burger">
            <div class="line1">

            </div>
            <div class="line2">

            </div>
            <div class="line3">

            </div>

    </nav>
    {{{body}}}
     <footer>
        <br>
        <span class="icons">
            <a href="https://www.github.com/froglegg"><i class="fab fa-github fa-2x"
                    id="git-icon"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/hayes-crowley/"><i class="fab fa-linkedin-in fa-2x"
                    id="git-icon"></i></a></span>
        <p style="font-size:.8em;">Made with 100% organic, free-range code!</p>
    </footer>

    {{#each bodyScripts}}
    <script type="text/javascript" src="scripts/{{this}}"></script>
    {{/each}}
    </div>
</body>
</html>